@CHARSET "ISO-8859-1";



body{
	background-color: #e4e7ea;
	color: #565656;
	font-size: 16px;
	margin: 0px;
	padding:0px;
	font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
	line-height: 21px;
}

#erro{
	color:red;
}

#voltar {
	color: blue;
	text-decoration: none;
	margin-left: 150px;
}


#topo{
	border-bottom: 1px solid #d3d7db;
	background-color: #ffffff;
	padding: 0px;
}

#menu{
		background-color: rgb(0,64,128);;
		width: 20%;
		height: 430px;
		float: left;
	}
	#menu ul{
			list-style: none;
			margin: 0;
			padding: 10px;
	}
		#menu ul li {
				display:block;
				float: none;
		}
				#menu ul li a {
					display:block;
					padding: 5px 10px;
					color: #ffffff;
					text-decoration: none;
					font-size: 0.9em;
					
					/*css3*/
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					border-radius: 3px;
				}
				#menu ul li a:hover {
					background-color: rgb(128,200,240);
				}
				
				
	#conteudo{
			width: 70%;
			float: left;
			margin: 5px 5px;
			padding-left: 20px;
		}
	
		#conteudo table {
			border: 1px solid #f0f0f0;
			margin: 20px;
			margin-left: 100px;
			text-align: center;
		}
	
	
		#conteudo table tr th{
			background-color: #1caf9a;
			color: #ffffff;
			padding: 5px 20px;
		}
		#conteudo table tr:hover td{
			background-color: rgb(128,200,240);
		}		
	
		#conteudo form{
			margin: 20px;	
		}
			#conteudo form label{
				width:200px;
				display: inline-block;
				padding-bottom:25px;
				text-align: right;
			}
				#conteudo form input[type="text"]{
					border: 1px solid #cccccc;
					padding: 5px;
					width: 250px;
					
					/*css3*/
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
				}
				#conteudo form input[type="checkbox"]{
					margin-left: 210px;
				}
				#conteudo form input[type="submit"]{
					margin-left: 160px;
					background-color: #1caf9a;
					padding: 5px 10px;
					color: #ffffff;
					font-size: 1.1em;
					margin-top: 10px;
					
					border: 1px solid #cccccc;
					/*css3*/
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
				}
	
#rodape{
	clear:both;
	border-top: 1px solid #cecece;
	background-color: #ffffff;
	height: 50px;
	font-size: 0.8em;
	text-align: center;
}	